@import 'tailwindcss';


:root{
  --primary-color :#3B82F6;
  --background-color:rgb(5, 8, 22);
  --secondary-color:#8B5CF6;
  --default-text-color:#F8FAFC;
  --accent-color:#22D3EE;
  --border-color:rgba(99, 102, 241, 0.35);
}
@theme {
  --color-borderColor:rgba(99, 102, 241, 0.35);
  --color-primary: #3B82F6;
  --color-secondary:#8B5CF6;
  --color-bgColor:#050816;
  --color-accent:#22D3EE;
  --color-cardBg:#0B1120;
  --color-secondaryPrimary:rgb(10, 16, 44);
  --font-kodeMono:"Kode Mono", monospace;
  
}
*{
  font-family: "Instrument Sans", sans-serif;
}
body{
  background-color: var(--background-color);
  height: 100vh;
  width:100%;
   
}
nav{
  color:var(--default-text-color);
  transition: height 400ms ease-in-out;
}
nav li {
  position: relative;
}
nav a.active{
  position: relative;
  width:0;
  transition: width 400ms ease-in-out;
}
nav a.active::before,
nav a:hover::before{
  content: "";
  background-color: var(--primary-color);
  height:2px;
  width:100%;
  position: absolute;
  bottom:-20px;
}
nav a:hover{
    filter: drop-shadow(0 -5px 10px var(--primary-color));
}
button,
a
{
  cursor: pointer;
}
a.cta-btn{
  box-shadow: 0 0 2px var(--primary-color);
  transition: box-shadow 400ms ease-in-out;
  font-size: clamp(1vw,18px,5vw);
  
}
.icon-btn:hover{
  filter: drop-shadow(0 0 10px var(--primary-color));
  transform: scale(110%);
}
a.cta-btn:hover{
  box-shadow: 0 0 18px var(--primary-color);
}
h5 {
  font-size: clamp(1vw,14px,3vw) !important;
  padding:0 5px;
}
.home-page{
   background:
    linear-gradient(
      to top right,
      rgba(5, 8, 22, 1) 0%,
      rgba(11, 17, 32, .95) 50%,
      rgba(17, 24, 39, 0.6) 70%,
      rgba(17, 24, 39, .9) 100%
    ),
    url('../src/assets/home-bg.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}